Source: hotpotatoes
Section: java
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 10) 
Standards-Version: 4.1.2

Package: hotpotatoes
Architecture: all
Depends: ${shlibs:Depends}, java-runtime | java-runtime-headless , lliurex-hotpotatoes-data
Description: Tools to create Digital Educational Objects
 Hot Potatoes suite includes six applications, enabling you to create
 interactive multiple-choice, short-answer, jumbled-sentence, crossword,
 matching/ordering and gap-fill exercises for the World Wide Web.


